{% extends "base.html"%}
{% block content %}
    {% for i in members %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ i.author.profile.image.url }}">
            <a class="mr-2" href="{% url 'userpost' i.author %}">{{ i.author }}</a>
            <small class="text-muted">{{ i.date_posted}}</small>
          </div>
          <h2><a class="article-title" href="{% url 'detail' i.id %}">{{ i.title }}</a></h2>
          <p class="article-content">{{ i.content }}</p>
        </div>
    </article>
    {% endfor %}
{% endblock content %}